body{
    background-color: rgb(205, 204, 202);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh
}
.container{
    background-color: beige;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 2px rgba(198,193,193,0.1);
    max-width: 400px;
    width :100%;
}
.container:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.form-group label{
    display:block;
    font-weight: bold;
}
.form-group input{
    width:95%;
    padding:10px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 3px;
}
.result{
    font-size:18px;
    text-align:center;
    margin-top:10px;
}
.calculate-style{
    padding :10px 20px;
    background-color: #27acf4;
    color:#ffff;
    border:none;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}
.calculate-style:hover{
    background-color: #1a74a5;
}
